
<script src="~/dist/sb/signalRapp.bundle.js"></script>


@{
    ViewData["Title"] = "RoomPrivate";
    Layout = "_Layout";
}

<h1>Private chat</h1>


<div id="root"></div>

<div>
    <label>Current user</label>
    <div>@User.Identity.Name</div>>
    <label>Message</label>
    <input type="text" id="messageInput">
    <button id="sendButton">Send</button>
</div>
<div>
    <ul id="messagesList"></ul>
</div>

<script>
    console.log(signalRapp)
    var r = new signalRapp.SignalRhub();
    r.Init();
</script>