# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.crmvcsb.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\projs\git\crmvcsb\crmvcsb\.idea\.idea.crmvcsb.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
