

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ChatHome";
    Layout = "_Layout";
}

<h1>ChatHome</h1>
@Html.ActionLink("Link", "Action", "Controller");
<a href='@Url.Action("Index", "Story", new { area = "Bio" })'' ></a>
<li><a asp-area="Admin" asp-controller="AdminPanel" asp-action="Index">Admin Panel</a></li>
<div>
    @Html.ActionLink("Link", "LogIn", "Account")
</div>
<a asp-controller="Account" 
    asp-action="Register">Register</a>
    <a asp-controller="Product" 
   asp-action="Display" 
   asp-route-id="@ViewBag.ProductId">
View Details</a>
<input asp-for="UserName" class="form-control" />