<script src="~/dist/sb/signalRwork.bundle.js"></script>

<h1>Hub</h1>

<div id="root"></div>

<div> Current work status: <label id="messageText"></label></div>

<div> 
    <button id="sendButton">Start work</button>
</div>
<div>
    <ul id="messagesList"></ul>
</div>

<script>
    var r = new signalRwork.SignalRwork();
    r.Init();
</script>