# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.crmvcsb.iml
# Datasource local storage ignored files
/../../../../../../../../:\projs\git\crmvcsb\crmvcsb\.idea\.idea.crmvcsb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
